---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />
<main class="theme-main">
  <slot />
</main>
<Footer />

<style>
  .theme-main {
    padding-bottom: 2rem;
  }
</style>
